.form-control {
    &:focus {
        border-color: $gray-800;
        box-shadow: 0 0 0 0;
    }

    &::-webkit-input-placeholder {
        /* Edge */
        color: $gray-300;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $gray-300;
    }

    &::placeholder {
        color: $gray-300;
    }
}

.form-control-placa {
    text-transform: uppercase;
}